Flask==1.0.2
easydict==1.9
requests==2.20.1
scipy==1.2.0
opencv_python==4.0.0.21
scikit_image==0.14.2
Keras==2.1.5
Shapely==1.6.4
imgaug==0.2.8
numpy==1.16.0
matplotlib==3.0.3
tensorflow
tqdm==4.28.1
Pillow==8.3.2
beautifulsoup4==4.7.1
plumbum==1.6.7
progressbar2==3.39.3
scikit_learn==0.20.3
shapely==1.6.4
imgaug==0.2.8
keras==2.2.4